{% extends "otree/Page.html" %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'global/css/styling10.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/Sliders.css' %}">
{% endblock %}

{% block content %}
<div class="slide-item-end" style="display: flex;">
    <!-- Title -->
    <!-- context -->
    <div class="ContentContainer"> 
        <div class="text-container-end" id="EndResults">
            <p class="title"> <u>You have reached the end of the experiment. These are your results:</u></p>
            <div class="text-container">
                <ul>
                    <li> Out of {{ iTotalTrials }} trials, you chose the most valuable basket iCORRECT times. </li>
                    <li> The randomly selected trial is trial <b>{{ iSelectedTrial }}</b> from <b>{{ sSelectedTrialBlock }}.</b> </li>
                    <li> In this trial, you {{ bCorrectBonus }} choose the most valuable basket.</li>
                    <li> Hence, you {{ bCorrectBonus }} qualify for the bonus payment of €{{ iBonusPayment }}. </li>
                    <li> As mentioned earlier, two participants will be selected at random to be eligible for the fixed payment and the bonus payment. </li>
                    <li> You will be contacted before 15 July if you are selected. </li>
                </ul>
            </div>
        </div>
        <button class= "button" id="between-button"> Continue </button>
    </div>
</div>
{% endblock %}

