{% extends "otree/Page.html" %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'global/css/styling10.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/Sliders.css' %}">
{% endblock %}

{% block content %}
<div class="slide-item-end">
    <!-- Title -->
    <h1> Thank you! </h1>
    <!-- context -->
    <div class="ContentContainer"> 
        <div class="text-container-end"  id="EndFinal">
            <p class= "final-text"> All your answers have been recorded. </br> Thank you for your participation!</p>
            <p class= "final-text"> For questions and/or remarks, please send an email to dave.warsito@student.uva.nl </br> You can now close this page./p> 
        </div>
    </div>
</div>


{% endblock %}

